
/* CMP Section */
.cmp-section {
    height: 220vh;
    width: 100%;
    background-color: white;
    color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title-compre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-cont-title {
    font-size: clamp(15px, 15vw, 30px);
    text-align: center;
    font-weight: 500;
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
    color: #866233;
  }
  
  .author {
    width: 60%;
  }
  
  .main-text-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }
  
  .title {
    font-size: clamp(15px, 15vw, 20px);
    text-align: center;
    font-weight: 500;
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
  
  }
  
  .details {
    font-size: clamp(12px, 15vw, 14px);
    height: 15%;
    margin: 15px;
    text-align: justify;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .image-logo-compre {
    width: 80px;
  }
  
  .text-cont {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
  }
  
  .card-cont {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content: space-between;
    border: 0.5px dashed #866233;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
  }
  
  .author-img {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #866233;
  }
  
  .cont-title {
    font-size: clamp(15px, 15vw, 20px);
    text-align: center;
    font-weight: 300;
    font-family: "Inter Tight", sans-serif;
    font-style: oblique;
  }
  
  .cont-detail-title {
    font-size: clamp(12px, 15vw, 15px);
    text-align: center;
    font-weight: 300;
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
  }
  
  .list {
    font-size: clamp(10px, 15vw, 14px);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .card-cont-cont {
    width: 50%;
  }
  .blob-design {
      z-index: 1;
      
  }
