@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.nav-main{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 10;
    justify-content: center;
}
.nav-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dir {
    text-decoration: none;
    color: gray;
    font-size: clamp(12px, 15vw, 14px);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.dir:hover{
    color: rgb(54, 54, 54);

}
.hansen-title{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: gray;
}
