#root {
  max-width: 1280px;

}

.main-cont {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.footer{
  height: 100vh;
  width: 100%;
}

/* Footer */
.footer {
  background-color: rgb(9, 255, 0);
}